extends layout

block content
 
  include mixins/_navbar.pug  
  section.main
 
    section.sidebar
      div.menu__items
          h1 Trending Categories
          div#nav_lists 
            p Sports
            button(id='list_btn') See List
          div#nav_lists 
            p Tech
            button(id='list_btn') See List
          div#nav_lists 
            p VIP
            button(id='list_btn') See List
          div#nav_lists 
            p Politics
            button(id='list_btn') See List
          div#nav_lists 
            p Travel 
            button(id='list_btn') See List
          div#nav_lists 
            p Food
            button(id='list_btn') See List
          
      div.menu__items
          
          a.button(href='/create' id='creater_btn') + Create new list
          
      div.menu__items
        div.sponsorship
          a Advertisment
          a.button(id='sponsor_btn') Sponsor List

    section.content
      h1 Lists without noise
      //- each post in data
      div.new
        each post in data
          a(href='/' + post['id'] + '/' + post['slug']).imagecovers.hvr-overline-from-center#high
            div.new-question
              p= post['question']  
              p#category= post['category']  
        
    //- include mixins/_madeby.pug